Can't auth via device code: error "client_id is invalid" on token endpoint

I deployed Casdoor in k8s via a docker image `casbin/casdoor:v1.910.0`.
I created an application. I made sure that in the application settings "Grant types" list includes "Device code".
I tried to setup an application with Casdoor auth, but the auth failed.

I then tested the auth manually via curl.
Device endpoint works fine and returns verification_uri. I can successfully open verification_uri and confirm authentication.
But when I try to poll the token via the token endpoint I get an error: "client_id is invalid".

I double checked that my client ID matches the value in the application settings. I also checked that if I slightly change the value of client ID, then device endpoint immediately fails with "Invalid client_id" error. So, I'm pretty sure that my client ID is correct.

I also tried the same commands with a different OIDC provider (Authentik) to make sure that my commands are valid. If I change `issuer_url` and `client_id` in the example below to values from Authentik I get the token without any errors.

So, it seems to me like something is wrong with the token endpoint.
Maybe I missed some of the required setup, but in this case error message doesn't describe what's wrong.

```bash
issuer_url=https://casdoor.example.com
client_id=9a428290ec669f3e9034

discovery_info=$(curl -sS $issuer_url/.well-known/openid-configuration)
device_endpoint=$(echo $discovery_info | jq .device_authorization_endpoint -r)
token_endpoint=$(echo $discovery_info | jq .token_endpoint -r)

$ request_info=$(curl -sS --data-urlencode client_id=$client_id --data-urlencode "scope=offline_access openid" -X POST $device_endpoint)

$ echo $request_info | jq
{
  "device_code": "8385bc21-97ad-42bd-bf03-b2b1feba2ab2",
  "user_code": "tw61j6",
  "verification_uri": "https://casdoor.example.com/login/oauth/device/tw61j6",
  "expires_in": 120,
  "interval": 0
}

$ device_code=$(echo $request_info | jq .device_code -r)

$ token=$(curl -sS --data-urlencode client_id=$client_id --data-urlencode device_code=$device_code --data-urlencode grant_type=urn:ietf:params:oauth:grant-type:device_code -X POST $token_endpoint)

$ echo $token | jq
{
  "error": "invalid_client",
  "error_description": "client_id is invalid"
}
```

@dacongda 

according to the protocol, you should use clientId and clientSecret in basicAuth

btw, you can test device flow with golang code below.

```golang
package main

import (
	"context"

	"github.com/coreos/go-oidc/v3/oidc"
	"golang.org/x/oauth2"
)

func main() {

	provider, err := oidc.NewProvider(context.Background(), "http://localhost:8000")
	if err != nil {
		// handle error
	}

	// Configure an OpenID Connect aware OAuth2 client.
	oauth2Config := oauth2.Config{
		ClientID:     "*",
		ClientSecret: "*",

		// Discovery returns the OAuth2 endpoints.
		Endpoint: provider.Endpoint(),
		// "openid" is a required scope for OpenID Connect flows.
		Scopes: []string{oidc.ScopeOpenID, "profile", "email"},
	}

	dr, err := oauth2Config.DeviceAuth(context.Background())
	if err != nil {
		print(err)
	}

	print(dr.VerificationURI)

	tk, err := oauth2Config.DeviceAccessToken(context.Background(), dr)
	if err != nil {
		print(err.Error())
	}
	print(tk.AccessToken)
}

```

Closed as resolved

> according to the protocol, you should use clientId and clientSecret in basicAuth

Ok, this seems to be the cause of the issue.
I was able to successfully obtain the token when using basicAuth.
Thank you for providing a Golang example, it was helpful.

I would like to clarify/discuss a few things before closing the issue.

1. According to https://datatracker.ietf.org/doc/html/rfc8628#section-3.1, when creating requests to the device authorization endpoint:

> client_id
    REQUIRED if the client is not authenticating with the
    authorization server as described in [Section 3.2.1. of [RFC6749]](https://datatracker.ietf.org/doc/html/rfc6749#section-3.2.1).
    The client identifier as described in [Section 2.2 of [RFC6749]](https://datatracker.ietf.org/doc/html/rfc6749#section-2.2).

This is the same wording as below, describing request to the token endpoint: https://datatracker.ietf.org/doc/html/rfc8628#section-3.4

> client_id
    REQUIRED if the client is not authenticating with the
    authorization server as described in [Section 3.2.1. of [RFC6749]](https://datatracker.ietf.org/doc/html/rfc6749#section-3.2.1).
    The client identifier as described in [Section 2.2 of [RFC6749]](https://datatracker.ietf.org/doc/html/rfc6749#section-2.2).

It's very confusing that I was able to do the request to the device authorization endpoint but very similar request to token endpoint failed.
I would expect that either both endpoints should accept client_id as query param, or both should fail.
Is this a deliberate choice, or is it a defect?

2. My client is not confidential. I don't want to use client secret with my client.
Is there a way to create a public client in Casdoor?
https://auth0.com/docs/get-started/applications/confidential-and-public-applications

Please reopen

Ok, thank you for clarification