Why "access_token" is named "token" in the implicit flow?

According to the [RFC6749 section 4.2.2 (Access Token Response)](https://www.rfc-editor.org/rfc/rfc6749#section-4.2.2), the token returned should be named "access_token", but in casdoor, it is named "token"
![image](https://user-images.githubusercontent.com/4892632/234804060-d5b48668-1583-4e37-8cc4-dc8172e99ae4.png)

So some clients like [Swashbuckle.AspNetCore](https://github.com/domaindrivendev/Swashbuckle.AspNetCore) can't get the token automatically.

Is it possible to rename this parameter to "access_token" or provide a feature that the user of casdoor can customize the name?

 @seriouszyx @ComradeProgrammer @Resulte

@joezhang-sh hi, can you make a PR to fix it?

- Hi @hsluoyz , sure, but from my point of view, the implementation should  comply with the specification, so I tend more to rename the token to "access_token", but that will be a breaking change for the applications already integrated with casdoor. What do you think?

@joezhang-sh no worry about breaking change. We need to follow the standard, so have to do this